__pycache__
*__pycache__
.idea
*.idea
.vscode/*
.vscode/*_
*.h5
*.mp4
# check point
*.index
*.meta
*.db
*.zip
*.tar
*.pickle
*.npy
*.log
*.params
*.avi
*.sqlite
*.dat
*.engine
*venv
.ipynb_checkpoints
.cache
.pytest_cache
.DS_Store
*.DS_Store
tmp*
celerybeat-schedule*
*celerybeat-schedule*
.env*